<header>
  <nav class="round">
    <ul>
      <li><%= link_to 'Home', url_for(:home) %></li>
      <li><%= link_to 'Upload', url_for(:upload) %></li>
      <li><%= link_to 'Garmin', url_for(:garmin) %></li>
    </ul>
  </nav>
</header>